// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/phy/phy.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include "rk3528.dtsi"

/ {
	model = "Rockchip RK3528 W132D";
	compatible = "rockchip,rk3528-w132d", "rockchip,rk3528";

	aliases {
		ethernet0 = &gmac0;
		mmc0 = &sdmmc;
		mmc1 = &sdhci;
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:1500000n8";
		bootargs = "earlycon=uart8250,mmio32,0xff9f0000 console=ttyS0,1500000";
	};

	vcc5v0_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vcc5v0_host: vcc5v0-host {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_host";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&gpio4 RK_PC2 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc5v0_sys>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_host_en>;
	};

	vcc_3v3_s3: vcc-3v3-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3_s3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vdd_1v8_s3: vdd-1v8-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_1v8_s3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc_sd: vcc-sd {
		compatible = "regulator-fixed";
		regulator-name = "vcc_sd";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
		enable-active-low;
		gpio = <&gpio3 RK_PB1 GPIO_ACTIVE_LOW>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc_1v8_wifi: vcc-1v8-wifi {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8_wifi";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		vin-supply = <&vcc5v0_sys>;
	};

	/*
	 * WIFI chip enable - keeps UWE5621DS out of reset.
	 * Same GPIO as v6 that worked: gpio3 RK_PC2, out hi.
	 */
	vcc_wifi_en: vcc-wifi-en {
		compatible = "regulator-fixed";
		regulator-name = "vcc_wifi_en";
		regulator-always-on;
		regulator-boot-on;
		enable-active-high;
		gpio = <&gpio3 RK_PC2 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc_3v3_s3>;
	};

	io-domains {
		compatible = "rockchip,rk3528-pmu-io-domain";
		vccio1-supply = <&vcc5v0_sys>;
		vccio2-supply = <&vcc5v0_sys>;
		vccio3-supply = <&vcc5v0_sys>;
		vccio4-supply = <&vcc_sd>;
		vccio5-supply = <&vcc_1v8_wifi>;
		vccio6-supply = <&vcc_sd>;
		vccio7-supply = <&vcc5v0_sys>;
		status = "okay";
	};

	usb_grf: syscon@ff300000 {
		compatible = "rockchip,rk3528-grf", "syscon";
		reg = <0x0 0xff300000 0x0 0x90000>;
	};

	/*
	 * Pwrseq with a known-working GPIO (gpio4 RK_PA0 = pin 0 from bank 4).
	 * gpio4 is at ffb20000 and is working (vcc5v0-host uses gpio4-18).
	 * We use a dummy GPIO just so pwrseq probe succeeds and MMC can
	 * enable the SDIO bus power. The actual chip enable is done by
	 * vcc_wifi_en regulator above.
	 */
	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&gpio4 RK_PA0 GPIO_ACTIVE_HIGH>;
		post-power-on-delay-ms = <1000>;
		status = "okay";
	};

	uwe_bsp: uwe-bsp {
		compatible = "unisoc,uwe_bsp";
		pub-int-gpio = <&gpio3 RK_PB3 GPIO_ACTIVE_HIGH>;
		sdhci-name = <&sdio1>;
		unisoc,btwf-file-name = "/lib/firmware/wcnmodem.bin";
		bt-wake-host;
		bt-wake-host-gpio = <&gpio3 RK_PC1 GPIO_ACTIVE_HIGH>;
		data-irq;
		blksz-512;
		keep-power-on;
		status = "okay";
	};

	sprd_wlan: sprd-wlan {
		compatible = "sprd,unisoc-wifi";
		status = "okay";
	};

	wireless_wlan: wireless-wlan {
		compatible = "wlan-platdata";
		wifi_chip_type = "sprdwl";
		WIFI,host_wake_irq = <&gpio3 RK_PB3 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_host_wake>;
		status = "okay";
	};

	wireless_bluetooth: wireless-bluetooth {
		compatible = "bluetooth-platdata";
		uart_rts_gpios = <&gpio3 RK_PA2 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default", "rts_gpio";
		pinctrl-0 = <&uart2m0_xfer>;
		pinctrl-1 = <&uart2m0_gpios>;
		BT,wake_host_irq = <&gpio3 RK_PC1 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	sprd_mtty: sprd-mtty {
		compatible = "sprd,mtty";
		sprd,name = "ttyBT";
		status = "okay";
	};
};

&sdhci {
	bus-width = <8>;
	non-removable;
	max-frequency = <200000000>;
	status = "okay";
};

&sdmmc {
	bus-width = <4>;
	cap-sd-highspeed;
	disable-wp;
	max-frequency = <150000000>;
	no-1-8-v;
	vmmc-supply = <&vcc_sd>;
	vqmmc-supply = <&vcc_sd>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc_bus4 &sdmmc_clk &sdmmc_cmd &sdmmc_det>;
	status = "okay";
};

/*
 * SDIO1 with pwrseq back.
 * vmmc-supply provides bus power, vqmmc-supply provides I/O voltage.
 * pwrseq uses gpio4 (known working bank) to satisfy MMC pwrseq binding.
 */
&sdio1 {
	/delete-property/ power-domains;
	max-frequency = <200000000>;
	bus-width = <4>;
	cap-sd-highspeed;
	cap-sdio-irq;
	keep-power-in-suspend;
	non-removable;
	cap-power-off-card;
	mmc-pwrseq = <&sdio_pwrseq>;
	vmmc-supply = <&vcc_3v3_s3>;
	vqmmc-supply = <&vdd_1v8_s3>;
	sd-uhs-sdr104;
	status = "okay";
};

&uart2 {
	/delete-property/ power-domains;
	pinctrl-names = "default";
	pinctrl-0 = <&uart2m0_xfer>;
	status = "okay";
};

&gmac0 {
	/delete-property/ power-domains;
	phy-mode = "rmii";
	phy-handle = <&rmii0_phy>;
	clock_in_out = "input";
	status = "okay";
};

&mdio0 {
	rmii0_phy: ethernet-phy@2 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <2>;
		clocks = <&cru 0x122>;
		phy-is-integrated;
		resets = <&cru 0xb8>;
	};
};

&u2phy {
	/delete-property/ power-domains;
	/delete-property/ rockchip,usbgrf;
	rockchip,usbgrf = <&usb_grf>;
	status = "okay";
};

&u2phy_otg {
	vbus-supply = <&vcc5v0_host>;
	status = "okay";
};

&u2phy_host {
	phy-supply = <&vcc5v0_host>;
	status = "okay";
};

&usb_host0_xhci {
	/delete-property/ power-domains;
	dr_mode = "host";
	phys = <&u2phy_otg>;
	phy-names = "usb2-phy";
	maximum-speed = "high-speed";
	vbus-supply = <&vcc5v0_host>;
	snps,dis_u2_susphy_quirk;
	snps,usb2-lpm-disable;
	snps,dis-del-phy-power-chg-quirk;
	snps,tx-fifo-resize;
	status = "okay";
};

&usb_host0_ehci {
	/delete-property/ power-domains;
	phys = <&u2phy_host>;
	phy-names = "usb";
	status = "okay";
};

&usb_host0_ohci {
	/delete-property/ power-domains;
	phys = <&u2phy_host>;
	phy-names = "usb";
	status = "okay";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0m0_xfer>;
	status = "okay";
};

&tsadc { status = "okay"; };

&threshold { temperature = <75000>; };
&target { temperature = <85000>; };
&soc_crit { temperature = <100000>; };

&pinctrl {
	usb {
		vcc5v0_host_en: vcc5v0-host-en {
			rockchip,pins = <4 RK_PC2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	wireless-wlan {
		wifi_host_wake: wifi-host-wake {
			rockchip,pins = <3 RK_PB3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	wireless-bluetooth {
		uart2m0_gpios: uart2m0-gpios {
			rockchip,pins = <3 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};
